{erl_opts, [debug_info]}.
{cover_enabled, true}.

{deps, [
        {gen_pnet, "0.1.7"},
        {cowboy, "2.2.2"},
        {jsone, "1.4.5"}
       ]}.

{escript_incl_apps, [gen_pnet, lib_combin, jsone]}.
{escript_emu_args, "%%! -connect_all false -sname cre\n"}.

{dialyzer, [{plt_extra_apps, [gen_pnet]}]}.

